<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{usuario.nombrecompleto}}</h3>
                    <h4>{{usuario.nombreusuario}}</h4>
                    <a href="/enlaces" class="btn btn-primary m-4">Guada tus enlaces</a>
                </div>
            </div>
        </div>
    </div>
</div>