<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Enlaces Favoritos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {{#if usuario}}
                <li class="nav-item ">
                    <a class="nav-link" href="/enlaces"> Todos tus enlaces </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/enlaces/anadir">Añadir enlace</a>
                </li>
                <li class="nav-item">
                    <a href="/perfil" class="nav-link"> Perfil </a>
                </li>
                <li class="nav-item">
                    <a href="/cerrar" class="nav-link"> Cerrar Sesion </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/registro"> Registro </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"> Iniciar Sesion </a>
                </li>
                {{/if}}

            </ul>
        </div>
    </div>
</nav>